{% extends "layout.html" %}

{% block title %}
CTRL-X
{% endblock %}

{% block imports %}
<script type="text/javascript" src="{{ url_for('static', filename='scan.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container w-75">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">IP/Report Links</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="ip-container">
            </tbody>
        </table>
    </div>
{% endblock %}