{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block imports %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{{url_for('static', filename='form.js')}}"></script>
<script src="{{url_for('static', filename='settings.js')}}"></script>
<script src="{{url_for('static', filename='make_chart.js')}}"></script>
{% endblock %}
{% block header %}
{% if current_user.is_authenticated %}
Welcome to CTRL-X, {{ current_user.username }}!
{% else %}
Welcome to CTRL-X!
{% endif %}
{% endblock %}
{% block body %}
<!-- <a href="{{url_for('index.show_scans')}}" >
    <button>Request Data</button>
    </a> -->
<div class="container text-center">
    <br>
    <h4>We're so glad you're here to help us in our mission to help make cybersecurity more accessible to everyone!</h4>
</div>
<div class="container">
    <hr class="hr-blurry" />
</div>
{% if current_user.is_authenticated %}
<div class="d-flex flex-row justify-content-center">
    <h3>Request New Job</h3>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="card text-center homepage-card w-25">
        <div class="card-body">
            <p class="card-text">Request new jobs by inputting the target IP and optionally port(s).</p><br>
            <form id="ip-form">
                <div class="row">
                    <div class="col">
                        <label for="ip_block">Target IP Address:</label>
                        <input type="text" class="form-control text-center" id="ip_block" name="ip_block"><br>
                    </div>
                    <div class="col">
                        <label for="ports">Target Port(s) (optional):</label>
                        <input type="text" class="form-control text-center" id="ports" name="ports"><br> 
                    </div>
                </div>
                <input class="small-mt btn btn-primary" type="submit" value="Submit">
                <p class="card-text" id="response" name="response"></p>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <hr class="hr-blurry" />
</div>
<div class="d-flex flex-row justify-content-center">
    <h3>View running and completed jobs</h3>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-row w-25 steps justify-content-end">
        <h3></h3>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card text-center homepage-card" >
            <div class="card-body">
                <h5 class="card-title">Scans</h5>
                <p class="card-text">View running and completed scan jobs.</p>
                <a href="{{url_for('index.show_scans')}}" class="btn btn-primary">Go to Data</a>
            </div>
        </div>
        <div class="card text-center homepage-card" >
            <div class="card-body">
                <h5 class="card-title">Exploits</h5>
                <p class="card-text">View running and completed exploit jobs requested.</p>
                <a href="{{url_for('index.show_exploits')}}" class="btn btn-primary">Go to Data</a>
            </div>
        </div>
        <div class="card text-center homepage-card" >
            <div class="card-body">
                <h5 class="card-title">Shells</h5>
                <p class="card-text">View active shells.</p>
                <a href="{{url_for('index.list_shells')}}" class="btn btn-primary">Go to Data</a>
            </div>
        </div>
        <div class="card text-center homepage-card">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>
                <p class="card-text">View reports of past scans.</p>
                <a href="{{url_for('index.list_reports')}}" class="btn btn-primary">Go to Reports</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row w-25 instruct justify-content-start">
        <h3></h3>
    </div>
</div>
<div class="container" style="margin-top:2em">
    <hr class="hr-blurry" />
</div>
<div class="d-flex flex-row justify-content-center">
    <h3>Settings</h3>
</div>
<div class="d-flex justify-content-center">
    <div class="card text-center homepage-card">
        <div class="card-body">
            <h5 class="card-title">Manage users</h5>
            <p class="card-text">View and create users.</p>
            <a href="{{url_for('index.users')}}" class="btn btn-primary">View other users</a>
            <br>
            <br>
            <a href="{{url_for('index.register')}}" class="btn btn-primary">Register new users</a>
        </div>
    </div>
    <div class="card text-center homepage-card">
        <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <p class="card-text">Modify Nmap scan options</p>
            <form id="command-form">
                <label for="command">New Nmap Args:</label><br>
                <input type="text" class="form-control" id="command" name="command">
                <label for="command" style="margin-top:10%">DNS:</label><br>
                <input type="text" class="form-control" id="dns" name="dns">
                <input class="small-mt btn btn-primary" type="submit" value="Submit">
                <p class="card-text" id="response_settings" name="response_settings"></p>
            </form>
            <button id="def" name="default" type="button" class="btn btn-primary">Default</button>
        </div>
    </div>
</div>
<div class="container" style="margin-top:2em">
    <hr class="hr-blurry" />
</div>
<div class="d-flex flex-row justify-content-center">
    <h3>Statistics</h3>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-5 chart">
        <canvas id="scan_chart"></canvas>
    </div>
    <div class="col-5 chart">
        <canvas id="ip_chart"></canvas>
    </div>
</div>
{% endif %}
{% endblock %}