{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block imports %}
{% endblock %}

{% block header %}
{% if current_user.is_authenticated %}
  Welcome {{ current_user.username }}!
{% else %}
  Welcome to CTRL-X!
{% endif %}
{% endblock %}

{% block body %}
<!-- <a href="{{url_for('index.show_scans')}}" >
    <button>Request Data</button>
</a> -->
{% if current_user.is_authenticated %}
<div class="card text-center" style="width: 18rem; margin-top: 10em ">
  <div class="card-body">
    <h5 class="card-title">Scans</h5>
    <p class="card-text" style="margin-top:2em">Here you can see historic and current scan jobs requested.</p>
    <a href="{{url_for('index.show_scans')}}" class="btn btn-primary">Go to Data</a>
  </div>
</div>
<div class="card text-center" style="width: 18rem; margin-top: 10em ">
  <div class="card-body">
    <h5 class="card-title">Request New Job</h5>
    <p class="card-text" style="margin-top:2em">Here you can request a new job after inputting a valid ip or ip subnet</p>
    <form action="{{url_for('index.home')}}" method="post">
      <label for="ip_block">IP:</label><br>
      <input type="text" id="ip_block" name="ip_block">
      <input style="margin-top:1em"type="submit" value="Submit">
    </form>
  </div>
</div>
{% endif %}
<div class="grid" style=" --bs-rows:4 --bs-columns: 2; --bs-gap: 5rem;">
  <div class="grid" style="row-gap: 0;">
    <div class="g-col-6">.g-col-6</div>
    <div class="g-col-6">.g-col-6</div>
  
    <div class="g-col-6">.g-col-6</div>
    <div class="g-col-6">.g-col-6</div>
  </div>
</div>
{% endblock %}