{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block imports %}
<link href="{{ url_for('static', filename='register.css') }}" 
rel="stylesheet" 
>
{% endblock %}

{% block body %}    
  <div class="container-xxl">
    <h3 class="text-center">Username: {{user}}</h3>
    <div class="container">
      <form action="{{url_for('index.profile')}}" method="POST" class="needs-validation" id="registerForm" novalidate>
          <div class="row mb-3">
              <div class="col-0 col-md-4"></div>
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="password" class="form-control registerInput" id="oldPassword" name="old_password" placeholder="Old Password" required>
                  <label for="oldPassword">Old Password</label>
                </div>
              </div>
          </div>
          <div class="row mb-3">
          <div class="col-0 col-md-4"></div>
          <div class="col-md-4">
            <div class="form-floating">
              <input type="password" class="form-control registerInput" id="regPassword" name="new_password" 
              placeholder="Password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" required>
              <label for="regPassword">Password</label>
              <div class="invalid-feedback feedback">
                <p id="length">At least 8 characters</p>
                <p id="letter">Contain at least one letter</p>
                <p id="number">Contain at least one number</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-0 col-md-4">
          </div>
          <div class="col-md-4">
            <button class="btn btn-outline-success w-100" type="submit">Update password</button>
          </div>
        </div>
        {% if registerError %}
        <div class="row mb-3">
          <div class="col-0 col-md-4">
          </div>
          <div class="col-md-4">
            <div class='text-center alert alert-danger'>
              {{registerError}}
            </div>
          </div>
        </div>
        {% endif %}
        {% if success %}
        <div class="row mb-3">
          <div class="col-0 col-md-4">
          </div>
          <div class="col-md-4">
            <div class='text-center alert alert-success'>
              Password updated
            </div>
          </div>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='registerValidate.js') }}"></script>
{% endblock %}