{% extends "layout.html" %}

{% block title %}
Scan
{% endblock %}

{% block body %}
<div class="container">
    <h2>Scan result</h2>
    {% for scan in scan_list%}
    <table class="table">
        <tbody>
            {% for field in scan.keys() %}
            {% if field != "scan_data" %}
            <tr>
                <th>
                    {{field}}
                </th>
                <td>
                    {% if field == "scan_result" %}
                    <pre class="width-limit">{{scan[field]}}</pre>
                    {% else %}
                    {{scan[field]}}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}